// Flex Center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Flex Between
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Flex Start
@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Flex End
@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Flex Column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}