// variables.scss
$primary-color: #ffffff;
$secondary-color: #2a2826;
$background-dark: #141312;
$background-gray: #191817;
$text-primary: #ffffff;
$text-secondary: #9ca3af;
$text-muted: #FFFFFF;
$day-inactive-color: #666666;


$font-family-primary: 'Poppins', sans-serif;

